h1 {
	font-weight: 700;
	font-size: 65px;
	color:#fff;
}
h4 {
	font-weight: 400;
	color:#515151;
}
h3 {
	font-weight: 700;
	font-size: 30px;
}
.paragraph,.services-text,.paragraph-4 {
	color:#707070;
	font-weight: 300;
}
.services {
	color: #131316;
	font-size: 20px;
	font-weight: 700;
}
.hov-text {
	color: #FFE600;
	font-size: 30px;
}
.paragraph-2,.paragraph-3 {
	color: #FFF;
	font-size: 16.5px;
	font-weight: 300;
}
.services-2 {
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
}
.nav-2 {
	text-transform: uppercase;
	color:#515151;
}
.paragraph-5 {
	color: #515151;
	font-size: 26px;
	font-weight: 400;
}
.text-p {
	color: #707070;
	font-size: 16px;
	font-weight: 300;
}
h2 {
	color: #000;
	font-size: 30px;
	font-weight: 700;
}
.text-h {
	color: #FFF;
	font-size: 30px;
	font-weight: 700;
}
.paragraph-6 {
	color: #FFF;
	font-size: 16px;
	font-weight: 300;
}
.number {
	color: #FFF;
	font-size: 39px;
	font-weight: 700;
}
.number-text {
	color: #FFE600;
	font-size: 16px;
	font-weight: 400;
}
.services-3 {
	color: #515151;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.services-3-p {
	color: #707070;
	font-size: 16px;
	font-weight: 300;
}
.john {
	color: #FFE600;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
.john-text {
	color: #707070;
	font-size: 16px;
	font-weight: 400;
}
.paragraph-7{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}
.skills {
	color: #FFF;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.text-p-2 {
	color: #707070;
	font-size: 15px;
	font-weight: 300;
}
.slogan {
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
}
.text-slogan {
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
}